fastapi
uvicorn[standard]
pydantic
pydantic-settings

langchain
langchain-core
langchain-qdrant
langgraph

qdrant-client

sentence-transformers
transformers
torch
requests
numpy


rank-bm25

httpx
orjson

xai-sdk

numpy
pandas
datasets
pymupdf 
pillow 
pytesseract 
python-docx
python-pptx
openpyxl
pageindex>=0.2.10
python-dotenv
tenacity

prometheus-client
duckdb
langchain-groq
sarvamai
python-multipart