fastapi
uvicorn[standard]
pydantic
pydantic-settings

langchain
langchain-core
langchain-qdrant
langgraph

qdrant-client

sentence-transformers
transformers
torch

rank-bm25

httpx
orjson

xai-sdk

numpy
pandas
datasets

python-dotenv
tenacity

prometheus-client
duckdb
langchain-groq
sarvamai
python-multipart